<div class='image-cage'>
  <%= image_tag("tiger.jpg", :class => "flying-image") %>
</div>

<div class='information-block'>
  <h2 class='best'>PIZZA</h2>
</div>

<div class='image-banner'>
  <%= image_tag("big1.jpg", :class => "para-image") %>
</div>

<div class='information-block'>
  <h2 class='best'>IS</h2>
</div>

<div class='image-banner'>
  <%= image_tag("big2.jpg", :class => "para-image") %>
</div>

<div class='information-block'>
  <h2 class='best'>THE</h2>
</div>

<div class='image-banner'>
  <%= image_tag("big4.jpg", :class => "para-image") %>
</div>

<div class='information-block'>
  <h2 class='best'>BEST</h2>
</div>

<div class='yes'>
  <h1><%= link_to 'YES IT IS', pizzas_path %></h1>
  <iframe src="https://embed-ssl.ted.com/talks/al_vernacchio_sex_needs_a_new_metaphor_here_s_one.html" width="640" height="360" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  <br>
  <p>this is just a test site by <a href="http://www.chrisheuberger.com">Chris Heuberger</a></p>
</div>
