<div class='image-cage'>
  <%= image_tag("tiger.jpg", :class => "flying-image") %>
</div>

<div class='information-block'>
  <h2 class='best'>PIZZA</h2>
</div>

<div class='image-banner'>
  <%= image_tag("big1.jpg", :class => "para-image") %>
</div>

<div class='information-block'>
  <h2 class='best'>IS</h2>
</div>

<div class='image-banner'>
  <%= image_tag("big2.jpg", :class => "para-image") %>
</div>

<div class='information-block'>
  <h2 class='best'>THE</h2>
</div>

<div class='image-banner'>
  <%= image_tag("big4.jpg", :class => "para-image") %>
</div>

<div class='information-block'>
  <h2 class='best'>BEST</h2>
</div>

<div class='yes'>
  <%= link_to 'YES IT IS', pizzas_path %>
</div>
